.App {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  font-size: 14px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-list {
  width: 20%;
}

.result-container {
  border: 1px solid #000;
  background: #E6E6FA;
  margin: 20px 10px;
}

.img-class {
  border: 1px solid #000;
  margin: 5px 10px;
}